* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #4444;
  color: #ffff;
}

form {
  margin: 10px;
  
}
.design {
  padding: 10px;
  margin: 20px;
  border: 2px solid #414141;
  border-radius: 10px;
  font-size: 20px;
}
